/*
* @subsection Typography
*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  text-transform: uppercase;
}

h1, .h1 {

}

h2, .h2 {
  font-size: 26px;
  line-height: 37px;
  letter-spacing: 0.1 * 1em;
}

h3, .h3 {
  
}

h4, .h4 {
  
}

h5, .h5 {
  
}

h6, .h6 {
  
}